<<<<<<< HEAD
.hero-container {
    display: flex;
    align-items: center; /* Vertically centers the content */
    gap: 5rem; /* Optional: Adds space between the image and the content */
    padding: 20% 30% 15% 0; /* Optional: Adds padding to the container */
    
    height: 100vh; /* Ensure it takes up the full viewport height */
    width: 100%; /* Optional: Ensure it takes up the full width */
    color: #fff;
}

.hero-container::after,.hero-container::before{
    content:"";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #231172;
    position: absolute;
    z-index: -1;
    filter:blur(225px);
}


.hero-container::before{
    bottom: 2rem;
    right: 0rem;
}


.hero-content h1{
    font-size: 55px;
    
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}


.hero-content h1 span{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff; /* Simulates typing cursor */
    width: 0;
    animation: typing 3s steps(30, end) forwards, blink 0.8s infinite;
}

.hero-content h2{
    font-size: 20px;
    margin-top: 10px;
   
}

.hero-content p {
    
    font-size: 18px;
    line-height: 1.8;
    margin-top: 10px;
    margin-right: 10px;
    
}

.hero-content .btn-sci{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background: #7c66e3;
    border: 2px solid #7c66e3;
    border-radius: 40px;
    box-shadow: 0 0 10px #6852ba;
    transition: -5s;
   
}

.btn:hover{
    background: #3a2a72;
    color: #fff;
    box-shadow: none;
}

.hero-content .btn-sci .social-icons{
    margin-left: 20px;}

.hero-content .btn-sci .social-icons a{
    display: inline-block;
    padding: 8px;
    border: 2px solid #7c66e3;
    border-radius: 50%;
    font-size: 20px;
    color: #7c66e3;
    margin: 0 8px;
    transition: -5s;
}    

.hero-content .btn-sci .social-icons a:hover{
    background: #7c66e3;
    color: #fff;
    box-shadow: 0 0 10px #6852ba;
}

.hero-img .img-box{
    position: relative;
    width: 29vw;
    height: 29vw;
    
    border-radius: 60%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-img .img-box::before,
.hero-img .img-box::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(#7c66e3 0%, #7c66e3 50%, #7c66e3 50%, #7c66e3 100%);
    
    
    
    
}


.hero-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background:#070120;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.hero-img .img-box .img-item img{

   display: block;
    width: 80%;
    object-fit: cover;
    
    
}





@media(max-width: 769px){

    .hero-content h1{

        font-size:3rem;
        line-height: 4rem;
    }

    .hero-content p{
        font-size: 0.9rem ;
        line-height: 1.6rem;

    }

    .hero-container{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.conbtn{
    margin-top: 2rem;
    text-decoration: none;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
    color:#fff ;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);

}


.downbtn{
    margin-top: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);;
    color:#fff ;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);

}
=======
>>>>>>> c7e9244eab4945fd84da139d3ce88c55e3c35a43
